body {
  height: 100vh;
  overflow-y: hidden;
  background-color: #fff;
  color: #54595a;
  font-size: 16px;
  font-family: 'Source Sans Pro', Cantarell, Ubuntu, 'Helvetica Neue', Helvetica, Calibri, Verdana, Arial, sans-serif;
  padding-top: 52px;
  margin: 0;
}

.navbar-flex, #enter-task, #search-form, #editor {
  display: flex;
}

#editor textarea {
  height: 100%;
  width: 100%;
}

.spacer {
  flex: 1;
}

.slider {
  transition: height .5s cubic-bezier(0, 1, 0.5, 1);
  height: 65px;
  overflow-y: hidden;
}

.slider.closed {
  transition: height .5s cubic-bezier(0, 1, 0.5, 1);
  height: 0px;
}